@charset "utf-8";
/* CSS Document */

.topframe {
	height: 100px;
	width: 1280px;
}

.bottomframe {
	height: 820px;
	width: 1280px;
}

.spacer20 {
	height: 20px;
	width: 1280px;
}

.spacer50 {
	height: 50px;
	width: 1280px;
}

.spacer100 {
	height: 100px;
	width: 1280px;
}

body {
	
	margin: 0;
	}

/* header */

.logo {
	display: inline;
	position: relative;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.header {
	height: 100px;
	width: 1280px;
}

.headerline {
	height: 2px;
	width: 1280px;
	background-color: #0096D6;
	
}

.headercontent {
    height: 80px;
	width: 1280px;
	vertical-align: middle;
}

.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #009;
	display: inline;
    position: relative;
	left: 100;
	vertical-align: middle;
}

/* page */

.title {
	height: 50px;
	margin-top: 20px;
}

.titlenote {
	height: 80px;
	margin-top: 20px;
}

.titlenote2 {
	height: 100px;
	margin-top: 20px;
}

.notetxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.notecol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0 0 0 10px;
	line-height: 18px;
}

.introtitle {
	height: 50px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #0096D6;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.h2small {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.h2search {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}


.2col {
	vertical-align: top;
}

.3col {
	vertical-align: top;
}

.assembly {
	display: table;
	height: 640px;
	width: 1280px;
	}

.assembly2 {
	display: table;
	height: 640px;
	width: 1280px;
	text-align: center;	
	}

.assembly3 {
	overflow-x: hidden;
    overflow-y: scroll;
    height: 660px;
	width: 1280px;
	}

.assembly3_600 {
	overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
	width: 1280px;
	}


.note {
	height: 640px;
}

.assembly4 {
	overflow-x: hidden;
    overflow-y: scroll;
    height: 740px;
	width: 1280px;
	}

.intro {
	display: table;
	height: 820px;
	width: 1280px;
}

.homepage {
	display: table;
	text-align: center;
	margin: 0;
	}

.introdiv {
	height: 710px;
}

.presslink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	text-align: left;
	line-height: 15px;
}

.presslink_r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	text-align: right;
	line-height: 15px;
}

.toc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0096D6;
	}

.img_simple {
	display: table-cell;
	vertical-align: middle;
}

.img_chart {
	position: absolute;
	top: 100px;
	left: 580px;
	width: 700px;
	text-align: center;
}

.img_pc {
	position: absolute;
	top: 50px;
	left: 580px;
	width: 700px;
	text-align: center;
}

.pc_prodno {
	position: absolute;
	top: 600px;
	left: 580px;
	width: 700px;
	text-align: center;
}

.col1  {
	width: 680px;
	vertical-align: top;
}

.col2 {
	width: 600px;
	vertical-align: top;
	}

.col3 {
	position: absolute;
	top: 65px;
	width: 550px;
	vertical-align: top;
	}

.col4 {
	position: absolute;
	top: 65px;
	left: 650px;
	width: 500px;
	vertical-align: top;
	}

.sercol1 {
	position: absolute;
	width: 320px;
	vertical-align: top;
	}

.servcol2 {
	position: absolute;
	top: 156px;
	left: 320px;
	width: 320px;
	vertical-align: top;
	}

.servcol3 {
	position: absolute;
	top: 472px;
	left: 640px;
	width: 320px;
	vertical-align: top;
	}

.servcol4 {
	position: absolute;
	top: 472px;
	left: 960px;
	width: 320px;
	vertical-align: top;
	v}

.scol1  {
	width: 435px;
	vertical-align: top;
}
.scol2  {
	width: 435px;
	vertical-align: top;
}
.scol3  {
	width: 410px;
	vertical-align: top;
}

.img_2col{
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.13 {
	font-size: 13px;
	}

.content2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.contents {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 5px;
}

.homebar {
	position: absolute;
	top: 760px;
	width: 1280px;
	height: 60px;
	text-align: center;
}

.line {
	height: 2px;
	background-color: #0096D6;
}

.home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0096D6;
}

.revtbl{
	text-align: center;
	height: 56px;
}

.rev_l {
	display: inline;
	width: 640px;
	height: 56px;
	text-align: left;
}

.rev_r {
	display: inline;
	position: absolute;
	top: 0px;
	left: 640px;
    width: 640px;
	height: 56px;
	text-align: right;
}

.rev {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0096D6;
	}

.bomcol {
	vertical-align: top;
	width: 550px;
}

.bomcol2 {
	vertical-align: top;
	width: 600px;
}

.bomspace {
	width: 150px;
}

.bomspace2 {
	width: 80px;
}

.bom1 {
	display: table;
	border: solid;
	border-width: thin;
	border-color: #000000;
	border-collapse: collapse;
}

.bomno {
	height: 25px;
	width: 50px;
	display: table-cell;
	vertical-align: middle;	
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.bomno75 {
	height: 25px;
	width: 75px;
	display: table-cell;
	vertical-align: middle;	
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.bompn {
	height: 25px;
	width: 100px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.bompn150 {
	height: 25px;
	width: 150px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}


.bomdesc {
	height: 25px;
	width: 250px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.bomv {
	height: 25px;
	width: 250px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.bomv200 {
	height: 25px;
	width: 200px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.bomv300 {
	height: 25px;
	width: 300px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.bomv400 {
	height: 25px;
	width: 400px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.bomman {
	height: 25px;
	width: 150px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}


.bomdesc300 {
	height: 25px;
	width: 300px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.bomdesc350 {
	height: 25px;
	width: 350px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.300 {
	width: 300px;
}

.350 {
	width: 350px;
}

.400 {
	width: 400px;
}

.450 {
	width: 450px;
}

.500 {
	width: 500px;
}

.bomlink {
	height: 25px;
	width: 350px;
	display: table-cell;
	vertical-align: middle;
	border: solid;
	border-width: thin;
	border-color: #000000;
	padding-left: 10px;
}

.tabletitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.tabletxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.tblnote {
	width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin-left: 10px;
	margin-top: 20px;
	line-height: 20px;
}


a {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #009;
	text-decoration: none
}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #0FF;
	text-decoration: none
}

.home_t {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 5px;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 0px;
}

.home_r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.home_l {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.serv1 {
	height: 30px;
}

.service {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	line-height: 24px;
}

.service2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000;
	margin-top: 54px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	line-height: 24px;
}

.servicetitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: 700;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	line-height: 26px;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0096D6;
	margin-bottom: 10px;
}

.searchbox {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 1;
	width: 150px;
	height: 50px;
	background-color: #EBEBEB;
	border: medium #0096D6;
}

.searchbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0096D6;
	text-align: center;
	line-height: 18px;
}

#popup { color: #000; background-color: #FFFFFF; }

#popup a [span_l] {
	display: none;
}

#popup a [span_r] {
	display: none;
}

#popup a:hover	{
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #0096D6;
	text-decoration: none
}

#popup a:hover [span_r] {
	display: block;
	position: fixed;
	top: 70px;
	right: 50px;
	margin: 0px;
	padding: 10px;
	color: #0096D6;
	background: #FFF;
}

#popup a:hover [span_l] {
	display: block;
	position: fixed;
	top: 70px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	color: #0096D6;
	background: #FFF;
}
